:root {
  --primary-color: #FF5135;
  --accent-color: #fed66e;
  --button-color: #8c30f5;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: skyblue;
}

header {
  /* position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */
  height: 72px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);
  /* Navbar Shadow */

  box-shadow: 0px 1px 0px #E5E9F2;


}

#logo {}

#logo {}

footer ul {
  list-style: none;
  display: flex;
}